
  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;600&family=Playpen+Sans:wght@300&display=swap');


html,
body {
  position: relative;
  height: 100%;
}


body {
  background: #eeeeee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; 
  overflow: scroll;
  height: 100%;
  
}

.nav {
  display: flex;
  color: rgb(0, 0, 0);
  height: 65px;
  background-color: #f5e6e6;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Edu TAS Beginner;
  font-weight: 500;
}

.main{
  position: relative;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  /* box-sizing: border-box; */
  top: 0%;
 background-color: #22bfa0;
 z-index: 55;
 display: flex;
border-top-left-radius: 20px;
margin: -65px 0;
}

.main>h1{
  color: #fff;
  font-size: 5vw;
  width: 40%;
  display: block;
  /* display: flex; */
  font-weight: 600;
text-transform: capitalize;
transform: translate(60% ,0);
 z-index: 4;
  font-family: Playpen Sans;
  /* background-color: red; */
  position: relative;
}
  #find{
  color: #eeeeee;
  position: relative;
  z-index:3;
  height: 70px;
  bottom: 19%;
  font-size: 38px;
  justify-content: center;
  align-items: center;
  /* background-color: #2c8dfb; */
  text-transform: capitalize;
  display: flex;
  width: 50%;
  transform: translate(-50% ,0);
  bottom: -25%;

  
 }
.reel2{
  height: 100%;
  width: 170px;
  /* background-color: #1b832a; */
  border: #000000;
  position: absolute;
  /* z-index: ; */
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
/* background-color: #5673f4; */
overflow: hidden;
  /* padding-left: 10px; */
  right: 0;
 }
 .reel{
  position: absolute;
  z-index: 4; 
   height: 60%;
  width: 170px;
  /* background-color: #1b832a; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff9f9;
  border-radius: 18px;
  overflow: hidden;
  /* background-color: #440000; */
  z-index: 3;
  /* overflow: hidden; */
  
  
  /* margin-left: 38px; */
  right: 18%;
 }
.reel:hover .gree{
  left: 0%;
}
.reel:hover i{
  color: #000;

}
.gree{
  position: absolute;
  height: 100%;
  background-color: #7af4f8;
  width: 100%;
  z-index: 2;
  left: -100%;
  transition: left 0.5s;
}

.reel2>a{
  position: absolute;
  z-index: 4; 
   height:100%;
  width: 170px;
  /* background-color: #1b832a; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #fff9f9; */
  border-radius: 19px;
  /* background-color: #1b832a; */
  /* transform: translate(0% , -50%); */
  z-index: 3;
  text-decoration: none;
  /* margin-left: 38px; */
  /* right: 0; */
}

.reel a>i{
  position: fixed;
  z-index: 4;
  color: #eeeeee;
 
  
}
.main>h1::after{
  content: "";
  position: absolute;
  height: 16px;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  width: 65%;
  bottom: 4%;
  left: 50%;
  transform: translate(-50% , 0%);

}
#img1{
  height: 500px;
   position: absolute;
   top: 10%;
   left: 8%;
  width: 350px;
} 
#img2{
  height: 400px;
  position: absolute;
  top: 5%;
  right: 28%;
  width: 290px;
}
#img3{
  height: 300px;
   position: absolute;
   bottom: 5%;
   right: 10%;
  width: 290px;
}
#img3:hover{
  margin-bottom: 40px;
  transition: ease-in-out 0.5s;
}
img:hover{
  margin-top: 40px;
  transition: ease 0.8s;
}
/* .slides{
  position: absolute;
  border: 3px solid black;
 

  box-sizing: border-box;
  justify-content: center;
  align-items: center;
 
 
 


} */
.logo {
  font-size: 27px;
  font-weight: 600;
  color: #04071c;
margin-top: 30px;

}


.item{
  margin-top: 35px;
  list-style: none;
  position: relative;
  top: 5;
  right: 2%;
  /* margin: 0 20px; */
  margin-left: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* overflow: hidden; */
  border-radius: 40px;
  width: 90%;
  padding:10px;
 background-color: #22bfa0;
  
}

.navreel{
  /* background-color: #000; */
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -16%;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;
  overflow: hidden;
  margin: 30px;

  position: relative;
  
}
.navreel2>a{
  text-decoration: none;
  font-family: Playpen Sans;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;

}
.navreel2{
  /* background-color: #440000; */
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 4;
  transition: left 0.6s;
top: 0%;
}
.navreel2 i{
  height: 50px;
  width: 24px;
  color:#ffffff;
  margin-left: 10px;
  position: absolute;
  left: 5%;
  top: 27%;
  transform: translate(50% ,0%);
}
.green{
height: 100%;
width: 100%;
background-color:  #7af4f8;
left: -100%;
transition: left 0.5s;
position: inherit;

}

.navreel:hover .green{
  left: 0%;
}
.navreel:hover .navreel2 a{
  color: rgb(0, 0, 0);
}

.navreel:hover .navreel2 i{
  color: black;
}



ul a:hover:before {
  border-radius: 6px;
}

ul a:hover {
  color: #3498db;
  font-size: 1.5rem;
}

ul {
  margin-top: 35px;
  list-style: none;
  position: absolute;
  top: 7vh;
  padding:10px;
 
  right: 4vw;
}


/* .swiper2{
  width:  100%;
  height: 100%;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  */


.swiper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.nav:hover{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fd1515;
  transition: all 0.2s ease;
  font-weight: bolder;
}


.nav{
  position: relative;
  bottom: 65px;
}
.slider{
  /* overflow: auto; */
  position: relative;
  margin: 37vh 0;
  text-align: center;
  align-items: center;
  height: 100%;
  justify-content: center;
  display: flex;
  padding: 50px 0;



}

.text{
   position: absolute;
   z-index: 99;
   right: 5%;
   overflow: hidden;
   height: 70px;
   background-color: #fff;
   border-radius: 20px;
   padding: 0 12px;
   /* display:  inline-block; */
   


}

#slides{
  
  position: absolute;
  /* margin: 37vh 0; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* z-index: 88; */
  
  height: 100%;
  display: flex;
  /* left: ; */
  width: 70%;
  background-color: #000;
  border: 3px solid black;
/* top: 0%; */
transform: translate(20% , 0%);
/* left: 10%; */
bottom: 0%;
margin: 40px 0;


}

.dd{
  position: absolute;
  background-color: #440000;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: visible; */
}
.slider2{
   height: 70%;
   display: flex;
   box-sizing: border-box;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background:  #44f4c5;
  
  display: inline-block;
  justify-content: center;
  align-items: center;
  

}
/* .swiper-wrapper2{
  position: absolute;
  top: 30px;
} */


.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;
  background-color:  #44f4c5;
  color: #fff;
  position: absolute;
}

.content {
  width: 100%;
}

.menu-button {
  position: relative;
  top: 0px;
  left: 0px;
  width: 10vw;
  z-index: 2;


  

  padding: 15px;

  cursor: pointer;

  -webkit-transition: 0.3s;
  transition: 0.3s;

  background-color: #44f4c5;

  /* margin: 14px;
        border-radius: 5px; */
}

.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
  margin-bottom: 0px;
}

.bar {
  position: relative;
  display: block;

  width: 50px;
  height: 5px;

  margin: 10px auto;
  background-color: #fff;

  border-radius: 10px;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-button:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(1.5px) rotate(-4.5deg);
  -ms-transform: translateY(1.5px) rotate(-4.5deg);
  transform: translateY(1.5px) rotate(-4.5deg);
}

.menu-button:hover .bar:nth-of-type(2) {
  opacity: 0.9;
}

.menu-button:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-1.5px) rotate(4.5deg);
  -ms-transform: translateY(-1.5px) rotate(4.5deg);
  transform: translateY(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  -ms-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
  opacity: 0;
}

.cross .bar:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(13.5px) rotate(-40.5deg);
  -ms-transform: translateY(13.5px) rotate(-40.5deg);
  transform: translateY(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
  opacity: 0.1;
}

.cross:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-13.5px) rotate(40.5deg);
  -ms-transform: translateY(-13.5px) rotate(40.5deg);
  transform: translateY(-13.5px) rotate(40.5deg);
}
